body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
      sans-serif;
  font-weight: 300;
  color: #636363;
  background: #fcf4e8;
  }

  #logo {
    position: relative;
    height: 175px;
    left: 435px;
    top: 20px;
    padding-bottom: 40px;
  }

  h2 {
    position: relative;
    bottom: 5px;
  }
  
  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 0.83rem;
    text-decoration: underline;
  }
  
  .center-text {
    text-align: center;
    margin: 4px;
  }
  
  .small-text {
    font-size: 0.8rem;
    text-align: center;
    line-height: 8px;
  }
  
  #app-container {
    width: 1000px;
    margin: auto;
    bottom: 85px;
  }

  #visit-header {
    position: relative;
    right: 25px;
    width: 1040px;
    height: 470px;
    margin: 5px;
    padding-top: 20px;
    border-radius: 8px;
    background: #f9e9d2;
    color: #636363;
  }

  #new-visit-form {
    text-align: center;
    position: relative;
    left: 30px;
    top: 25px;
    width: 310px;
    line-height: 12px;
    padding: 15px;
    padding-top: 10px;
    border-radius: 8px;
    background: #fcf4e8;
  }

  #search-input {
    float: right;
    position: relative;
    top: 5px;
    right: 150px;
    width: 400px;
  }

  #visit-container {
    float: right;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    left: 20px;
    bottom: 405px;
    width: 700px;
    height: 400px;
    padding-left: 15px;
    margin: auto;
    line-height: 14px;
    border-radius: 8px;
    border: 9px solid #f9e9d2;
    background: #f9e9d2;
    color: #636363;
  }

  .visit-card {
    float: left;
    position: relative;
    width: 200px;
    height: 180px;
    margin: 5px;
    padding: 5px 5px 0px 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    line-height: 16px;
    background: #c5e4ca;
    color: #636363;
  }

  .visit-date {
    font-size: 0.7rem;
    text-align: center;
    line-height: 12px;
  }

  button:focus {
    outline: none;
    }

  #parks-container {
    float: left;
    position: relative;
    bottom: 380px;
  }

.park-card {
    float: left;
    width: 240px;
    height: 255px;
    margin: 5px;
    padding-top: 5px;
    border-radius: 8px;
    position: relative;
    background: #f9e9d2;
    color: #636363;
  }
  
  .park-pic {
    visibility: visible;
    margin: auto;
    padding-top: 5px;
    padding-left: 20px;
  }
  
  .park-summary {
    visibility: hidden; 
    float: left;
    font-size: 0.7rem;
    line-height: 14px;
    width: 220px;
    height: 190px;
    padding-left: 17px;
    position: absolute;
    top: 50px;
    background: #f9e9d2;
    color: #636363;
  }