body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
      sans-serif;
  font-weight: 300;
  color: #636363;
  background: #fcf4e8;
  }

  h2 {
    position: relative;
    bottom: 10px;
    font-size: 1.8rem;
  }
  
  h3 {
    position: relative;
    top: 50px;
  }
  
  h4 {
    text-align: center;
    padding-top: 7px;
    line-height: 15px;
  }
  
  /* h5 {
    margin-top: 50px;
    margin-bottom: 5px;
  } */
  
  .center-text {
    text-align: center;
    margin: 4px;
  }
  
  .small-text {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 0px;
  }

  button:focus {
    outline: none;
  }
  
  #app-container {
    width: 1000px;
    margin: auto;
    bottom: 85px;
  }

  #logo {
    position: relative;
    height: 155px;
    left: 425px;
    top: 20px;
    padding-bottom: 40px;
    }

  #visit-form {
    position: relative;
    top: 15px;
    right: 3px;
    width: 210px;
    height: 386px;
    margin: 5px;
    padding-top: 12px;
    border-radius: 8px;
    background: #f9e9d2;
    color: #636363;
  }

  #new-visit-form {
    text-align: center;
    position: absolute;
    top: 100px;
    left: 15px;
  }
  
  #visit-container {
    float: right;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    bottom: 388px;
    right: 2px;
    width: 750px;
    height: 350px;
    padding: 15px;
    margin: auto;
    line-height: 14px;
    border-radius: 8px;
    border: 9px solid #f9e9d2;
    background: #f9e9d2;
    color: #636363;
  }

  .visit-card {
    float: right;
    position: relative;
    width: 220px;
    height: 170px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    font-size: 0.8rem;
    line-height: 16px;
    background: #c5ebd5;
    color: #636363;
  }

  #parks-container {
    position: relative;
    bottom: 785px;
    width: 1000px;
    margin: auto;
    }

  .park-card {
    float: left;
    width: 240px;
    height: 250px;
    margin: 5px;
    border-radius: 8px;
    position: relative;
    top: 420px;
    background: #f9e9d2;
    color: #636363;
  }
  
  .park-pic {
    visibility: visible;
    margin: auto;
    padding-top: 5px;
    padding-left: 20px;
  }
  
  .park-summary {
    visibility: hidden; 
    float: left;
    font-size: 0.7rem;
    width: 210px;
    height: 190px;
    padding-left: 17px;
    position: absolute;
    top: 40px;
    background: #f9e9d2;
    color: #636363;
  }

  /* #add-visit {
    position: relative;
    left: 160px;
    top: 50px;
    height: 30px;
    width: 100px;
    font-size: 1.0rem;
    font-weight: bold;
    text-align: center;
    background: rgb(166, 207, 166);
    color: #636363;
  } */
  
  .visit-btn {
    background-image: url('images/grey-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 3px;
    bottom: 3px;
    margin: 4px;
    border: 3px solid #f9e9d2;
    background-color: #f9e9d2;
  }
  
  /* .remove-btn {
    visibility: hidden;
    background-image: url('images/x-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 4px;
    bottom: 2px;
    margin: 4px;
    border: 3px solid #d9f2d9;
    background-color: #d9f2d9;
  } */